@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
  --color-primary: #ff9f1c;
  --color-secondary: #2b2d42;
  --color-accent: #4d7cfe;
  --color-soft: #fff3e0;
  --color-muted: #6b7280;
  --color-border: #e5e7eb;

  --font-sans: "Poppins", "Inter", system-ui, sans-serif;
  --font-arabic: "Cairo", sans-serif;

  --shadow-card: 0px 20px 40px rgba(0, 0, 0, 0.08);
  --shadow-btn: 0px 8px 20px rgba(255, 159, 28, 0.35);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
}

html[lang="ar"] body {
  font-family: var(--font-arabic);
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
}
